<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="markbecker.theragbraitrail">

    <application
        android:name=".GlobalVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LearnAboutTheTrail" />
        <activity android:name=".Credits" />
        <activity android:name=".ChooseDifficulty" />
        <activity android:name=".TheDifferenceBetweenCharacters" />
        <activity android:name=".NameCharacter" />
        <activity android:name=".BuySupplies" />
        <activity android:name=".LearnAboutProducts" />
        <activity android:name=".Gameplay" />
        <activity android:name=".YouLose" />
        <activity android:name=".YouWin" />
        <activity android:name=".Town1" />
        <activity android:name=".Town2" />
        <activity android:name=".Town3" />
        <activity android:name=".Town4" />
        <activity android:name=".Town5" />
        <activity android:name=".Town6" />
        <activity android:name=".Town7" />
        <activity android:name=".Town8"></activity>
    </application>

</manifest>